{% extends 'glowny.html' %}

{% block tytul %} Lista filmów {% endblock %}
    
{% block strona %}  

<style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
}

.card {
    margin: 20px auto;
    text-align: center;
}

.film-plakat {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
}

</style>

<div class="container d-flex flex-column align-items-center">
    
    {% if user.is_authenticated %}
        <p class="mt-3">Witaj, <strong>{{ user.username }}</strong></p>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% else %}
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    {% endif %}

    <hr class="w-100">

    <a href="{% url 'nowy_film' %}" class="btn btn-success mb-3">Dodaj nowy film</a>

    {% if filmy|length == 0 %}
        <h2 class="text-center text-muted">Brak filmów</h2>
    {% else %}
        <h2 class="text-center">Ilość filmów w BD: {{ filmy|length }}</h2>
        <div class="d-flex flex-wrap justify-content-center">
            {% for film in filmy %}
                <div class="card mx-3" style="width: 22rem;">
                    <div class="card-body">
                        <img src="/media/{{film.plakat}}" class="film-plakat">
                        <h5 class="card-title mt-2">{{ film }}</h5>
                        <p class="card-text opis">{{ film.opis }}</p>
                        <div class="d-flex justify-content-around">
                            <a href="{% url 'edytuj_film' film.id %}" class="btn btn-warning btn-sm">Edytuj</a>
                            <a href="{% url 'usun_film' film.id %}" class="btn btn-danger btn-sm">Usuń</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}