{% extends 'glowny.html' %}

{% block tytul %} Potwierdź {% endblock %}
    
{% block strona %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg text-center" style="width: 26rem;">
        <div class="card-body">
            <h5 class="card-title mb-4">Czy na pewno chcesz usunąć "<strong>{{ film.tytul }}</strong>"?</h5>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Usuń film</button>
            </form>
            <a href="{% url 'wszystkie_filmy' %}" class="btn btn-secondary w-100 mt-2">Cofnij</a>
        </div>
    </div>
</div>
{% endblock %}
